@import url('https://fonts.googleapis.com/css?family=Akronim|Allerta+Stencil');
@import url('https://fonts.googleapis.com/css?family=Sacramento');



* {
    text-decoration: none !important;
}

body {
    overflow-x: hidden;
}

/* Single modifier*/

.title--color {
    color: #00adb5;
    text-align: center;
}

.about,
.projects {
    background-color: #E5E5E5;
}


/* Menu */

.navbar {
    background: #001C58;
}

.navbar-dark {
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px 4px rgb(0, 0, 0);
}

.navbar-transparent {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-in-out;
    height: 80px;
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0);
}

.navbar__logo {
    color: #ffffff;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 27px;
}

.navbar__logo:hover {
    color: #ffffff;
}

.nav-item {
    height: 100%;
    display: block;
    font-size: 18px;
}

.navbar-collapse {
        text-align: center;
}

/* Home */

.home {
    background-image:
        radial-gradient(circle, transparent 30%, rgba(255, 255, 255, 0) 70%),
        linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
        url(../images/bg/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    text-align: center;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center center;
    /* Create the zoom effect */
    animation: shrink 4s infinite alternate;
}

@keyframes shrink {
    0% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 120% 120%;
    }

    100% {
        background-size: 100% 100%;
    }
}

.home__content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 28, 88, 0.51);
    padding: 20px 0;
}

.home__img {
    margin-right: 10px;
    border-radius: 100%;
    height: 250px;
    width: 250px;
    border: 5px solid #5ea9ff;
}


.home__title {
    font-size: 56px;
    text-shadow: 3px 3px 2px #000000;
    color: #ffffff;
    display: inline-block;
}

.home__footer {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.home__scroll {
    color: #FFFFFF;
    font-size: 5rem;
}

.home__scroll:hover {
    color: #5ea9ff;
    font-size: 5rem;

}

/* Profil */

.about {
    padding: 100px 0px 100px 0px;
}

.about__content {
    padding-bottom: 50px;
}


.about__title {
    color: #001C58;
    
}

.about__text {
    color: #001C58;

    font-size: 18px;
    letter-spacing: 1px;
    text-indent: 50px;
}

.about__icon--cv {
    padding-right: 10px;
}

.about__text--cv {
    color: #ffffff;
    background-color: #001C58;
}

.about__text--cv:hover {
    color: #000000;
    background-color: #5ea9ff;
}

.about__text--sign {
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    font-family: 'Sacramento', cursive;
    float: right;
}

/* Skills*/

.skills {
    background-color: #222222;
    color: white;
    padding: 100px 0px;
}

.skills__title {
    margin-bottom: 20px;
}

.skills__category {
    color: #ffffff;
    text-align: center;
}



.skill__img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.skill__name {
    color: #00adb5;
}

.skill__description {
    text-align: left;
}

/* Projekty */

.projects {
    text-align: center;
    padding: 100px 0px;
}

.projects__title{
    color: #001C58;
}

.card {
    filter: drop-shadow(0px 0px 3px #2E2E2E);
    margin: 10px 0px 20px 0px;
}


.card-title {
    text-align: center;
    color: #000000;
    background: #ffffff;
    padding: 10px 0px;
    border-bottom: 2px solid #001C58;
}

.technology {
    width: 100%;
    margin: 0px -20px;
    text-align: center
}

.technology__name {
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin: 3px 0px;
    border: 2px solid #001C58;
    background-color: #ffffff;
    max-width: 100px;
    padding: 5px 5px;
}

.card-body {
    width: 100%;
}

.card-footer {
    width: 100%;
}


.project__button--github {
    transform: scale(2);
    padding: 0 5px;
    margin: 0 5px;
}


.project__button {
    color: white;
    background-color: #001C58;
    float: right;
}

.project__button:hover {
    color: #000000;
    background-color: #5ea9ff;
    transition: 0.4s;
}

.project__button--img {
    color: #001C58;

}

.project__button--img:hover {
    color: #001C58;
}

.project__more {
    font-size: 20px;
    padding: 20px;
}

/* contact */

.contact {
    background-color: #ffffff;
    padding: 100px 0px;
    min-height: 90vh;
    text-align: center;
    letter-spacing: 1px;
}

.contact__title {
    color: black;
}

.contact__form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact__input {
    margin-bottom: 20px;
    height: 50px;
}

.contact__input--textarea {
    height: 190px;
}

/* black: #000000, dark blue #001C58, blue #4173AE, dark white #E2EBF0, white #FFFFFF */
.contact__button {
    margin-top: 10px;
    color: white;
    width: 200px;
    height: 40px;
    background-color: #001C58;
}

.contact__button:hover {
    color: #001C58;
    background-color: #5ea9ff;
    transition: 0.4s;
}

.contact__info {
    padding: 0px 10px;
}

.contact__text {
    font-weight: 600;
}

.contact__icon {
    padding: 0px 30px;
    margin: 0px auto;
}

.contact__img {
    color: black;
    height: 150px;
    width: 150px;
    margin: 10px auto;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}

.contact__img:hover {
    color: black;
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer {
    box-shadow: 0px 0px 10px 1px black;
    background: #001C58;
    padding-top: 10px;
    display: flex;
}

.footer__text {
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
}